ENVIRONMENT=dev
SECRET_KEY=Gy5DYhP8SVIV6xrgCBVEepGDS5NTgNDXfJ8U8FUEgUI

# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DB=testDB
MYSQL_USER=testDB
MYSQL_PASSWORD=123456

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_PASSWORD=123456